*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    height: 50px;
    border-bottom: 1px solid black;
    position:sticky;
    background-color: white;
    top: 0;
    bottom: 0;
    z-index: 1;
}

input{
    border: none;
}

.searchbar{
        width: 400px;
        border: 1px solid black;
        padding: 5px;
        display: flex;
        gap: 5;
        border-radius: 5px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}


.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.becomeaseller{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(9, 11, 15);
    color: white;
    height: 300px;
}

h6{
    font-size: large;
    color: rgb(80, 80, 80);
}

p{
    font-size: small;
    opacity: 0.8;
}

.secondFooter{
     display: flex;
     justify-content: space-around;
     align-items: center;
    background-color: rgb(9, 11, 15);
    color: white;
    height: 100px;
}

.lastFooter{
    padding: 20px;
    text-align: center;
    background-color: rgb(9, 11, 15);
    color: white;
    height: 100px;
    /* margin-top: 10px; */
}

.flipkart{
    cursor: pointer;
    color: white;
}
.seller{
    display: flex;
    gap: 8px;
  
}
.adver{
    display: flex;
    gap: 8px;
    
   

}
.gift{
    display: flex;
    gap: 8px;

}
.helps{
    display: flex;
    gap: 8px;

}
.color{
    color: rgb(206, 206, 70);

}
.book{
    color: rgb(206, 206, 70);


}
.ghfh{
     color: rgb(206, 206, 70);
    
}
.becom{
    color: rgb(206, 206, 70);

}
.footer3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    font-weight: bold;
}

.moisturizer{
    height: 120px;
}

.top{
    padding: 20px;
    opacity: 0.7;
}
.projector{
    height: 50px;
    width: 50px;
}